/* Resetting default margin and padding */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
}

/* Header styles */
header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}

/* Heading styles */
h1 {
    margin-top: 0;
}

/* Container styles */
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}

/* Service styles */
.service {
    margin-bottom: 20px;
}

/* Service heading styles */
.service h2 {
    color: #333;
}

/* Service description styles */
.service p {
    color: #666;
}

/* Content styles */
.content {
    margin-top: 20px;
}

/* Content heading styles */
.content h2 {
    color: #333;
    margin-bottom: 10px;
}

/* Content paragraph styles */
.content p {
    color: #666;
    margin-bottom: 15px;
}

header .active a{
    background-color: red;
}

marquee{
    width: 100%;
    height: 50px;
    background-color: red;
    position: relative;
    margin-bottom: 40px;
    margin-top: 27px;
    z-index: 999;
}