<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Page</title>
    <!-- Link to external CSS file -->
    <link rel="stylesheet" type="text/css" href="static/styles.css">
</head>
<body>

    <!-- Header -->
    <header>
        <h1>Welcome to Our Website</h1>
        <nav>
            <ul>
               {{request.path}}   <!-- kaunsa page pe ho ap -->
                <li class="{% if request.path =='/' %} active {% endif %}"><a href="{% url 'home' %}">Home</a></li>    <!-- we are using this "/" to specify it as a home directory-->
                <li><a href="{% if request.path =='aboutus' %} active {% endif %}"><a href="{% url 'aboutus' %}">About</a></li>
                <li><a href="/services.html">Services</a></li>
                <li><a href="{% if request.path =='Contact' %} active {% endif %}"><a href="{% url 'Contact' %}">Contact</a></li>
            </ul>
        </nav>
    </header>
