{% extends 'base.html' %}
{% block content %}
<br>
<br>

<marquee onmouseover="stop()" onmouseout="start()">
    {% for news in newsData %}
    <a href="/newsDetails/{{news.news_slug}}"> {{news.news_title}} </a>
    {% endfor %}
</marquee>

    <!-- Body -->
    <main>
        <!-- Additional content -->
        <div class="main">Welcome to this document page</div>
        Welcome to this document page 
        <div class="main">{{bdata}}</div>

        {% if numbers|length > 0 %}
            {% for n in numbers %}
                {% if n > 20 %}
                    <div>{{n}}</div>
                {% endif %}
            {% endfor %}
        {% else %}
            No data Found 
        {% endif %}
    </main>
{% endblock %}