{% extends 'base.html' %}
{% block content %}

<body>
    <h2>User Registration Form</h2>
    <form action="#" method="post" action="{% url 'submitform' %}">         <!-- we are using action here this can be used for any language -->
        {% carf_token %}
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
        
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        
        <label for="bio">Bio:</label>
        <textarea id="bio" name="bio" rows="4"></textarea>
        
        <input type="submit" value="Submit">
        <input type="submit" value="{{output}}"/> <!-- output ke liya based on views.py line -31-->
    </form>
</body>

{% endblock %}